body{
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222;
}
.customlabel{
   font-size: 12pt;
   float: right;
   margin-left: 10px;
}
.banner {
    height: 75px;
    margin: 0px -10px 10px;
    /*background-color: rgb(66, 196, 247);*/
    background-color: #4E4E50;
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

.hrpi-table-row .Title{
  border-bottom: 1px solid rgb(216, 216, 216);
}

.hrpi-table-row .Title h3{
    font-size: 1.75rem;
    color: black;
    border-bottom: rgb(216, 216, 216);
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.hrpi-table-row {
    border-radius: 5px;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: initial;
    border-left-style: solid;
    border-top-color: rgb(216, 216, 216);
    border-right-color: rgb(216, 216, 216);
    border-bottom-color: initial;
    border-left-color: rgb(216, 216, 216);
    border-image: initial;
}

.histogram-slider {
    top: 40px;
    z-index: 1000000;
    width: 65%;
    position: relative;
    margin: 0px auto;
    left: 25px;
}

.hrpi-table-row .hrpi-table .js-plotly-plot .plot-container .svg-container .modebar{
    z-index: -100;
}

.dropdown {
    width: 20%;
    float: left;
    margin-left: 3px;
    text-align: center;
}

.dateinput {
    width: 20%;
    height: 25px;
    float: left;
    margin-left: 3px;
    text-align: right;
    display: block;
}
.generatebtn {
    width: 20%;
    height: 35px;
    margin-left: 3px;
}
.customBr {
    width: 30px;
}

